.ul-footer {
    position: relative;
    z-index: 1;
    background-color: var(--ul-black);

    &-top {
        // padding: clamp(97px, 5.25vw, 100px) 0 clamp(60px, 6.31vw, 120px);
        padding: clamp(50px, 5.25vw, 100px) 0;
        position: relative;

        &-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 35px;

            @include lg {
                flex-wrap: wrap;
            }
        }
    }

    &-about {
        max-width: clamp(267px, 14.19vw, 270px);

        >* {
            margin-bottom: clamp(15px, 1.58vw, 30px);

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-txt {
            font-size: clamp(13px, 0.84vw, 16px);
            color: var(--ul-gray2);
        }
    }

    &-socials {
        display: flex;
        align-items: center;
        gap: clamp(6px, 0.47vw, 9px);
        font-size: clamp(15px, 0.95vw, 18px);

        a {
            color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            width: clamp(33px, 1.89vw, 36px);
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: clamp(12px, 0.79vw, 15px);

            &:hover {
                color: var(--white);
                background-color: var(--ul-primary);
            }
        }
    }

    &-widget {
        min-width: clamp(110px, 10.51vw, 200px);

        @include lg {
            max-width: 290px;
            flex-grow: 1;
        }

        &-title {
            font-weight: 700;
            font-size: clamp(20px, 1.26vw, 24px);
            color: var(--white);
            margin-bottom: clamp(13px, 1.37vw, 26px);
            padding-bottom: clamp(8px, 0.68vw, 13px);
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 18px;
                background-color: var(--ul-c5);
            }

            &::after {
                left: 24px;
                width: 63px;
                background-color: var(--ul-primary);
            }
        }

        &-links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: clamp(15px, 0.95vw, 18px);

            >* {
                display: inline-block;
                color: var(--ul-gray2);
                font-size: clamp(13px, 0.84vw, 16px);
                position: relative;

                &::before {
                    content: "\f133";
                    font-family: flaticon_restics !important;
                    font-style: normal;
                    font-weight: normal !important;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: clamp(9px, 0.63vw, 12px);
                    padding-right: 10px;
                }

                &:hover {
                    color: var(--ul-primary);
                }
            }
        }
    }

    .ul-nwsltr-form {
        margin-top: clamp(15px, 1.58vw, 30px);

        .top {
            background-color: var(--white);
            padding: clamp(2px, 0.26vw, 5px);
            border-radius: 8px;
            height: clamp(45px, 2.94vw, 56px);
            display: flex;

            input {
                border: none;
                padding: 0 clamp(7px, 0.53vw, 10px);
                font-size: clamp(13px, 0.84vw, 16px);
                width: 100%;
            }

            button {
                background-color: var(--ul-c5);
                color: var(--white);
                aspect-ratio: 1/1;
                flex-shrink: 0;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: var(--ul-primary);
                }
            }
        }

        .agreement {
            font-size: clamp(13px, 0.84vw, 16px);
            color: rgba(255, 255, 255, 0.6);
            margin-top: clamp(12px, 1.26vw, 24px);

            a {
                color: var(--white);
                text-decoration: underline;

                &:hover {
                    color: var(--ul-primary);
                }
            }
        }
    }

    &-bottom {
        padding: clamp(14px, 1.16vw, 22px) 0;
        background-color: var(--ul-primary);

        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
        }

        .copyright-txt {
            margin-bottom: 0;
            font-size: clamp(13px, 0.84vw, 16px);
            color: rgba(255, 255, 255, 0.9);

            a {
                color: var(--white);

                &:hover {
                    color: var(--ul-secondary);
                }
            }
        }

        a {
            color: rgba(255, 255, 255, 0.9);
            font-size: clamp(13px, 0.84vw, 16px);

            &:hover {
                color: var(--ul-secondary);
            }
        }

        &-nav {
            display: flex;
            gap: clamp(15px, 1.58vw, 30px);
        }
    }

    &-vectors {
        >* {
            position: absolute;
            z-index: -1;
        }
    }

    &-vector-1 {
        bottom: clamp(54px, 8.09vw, 154px);
        left: 0;

        @include lg {
            display: none;
        }
    }

    &-vector-2 {
        top: -10px;
        right: clamp(17px, 1.94vw, 37px);
        max-width: clamp(58px, 5.15vw, 98px);

        @include sm {
            display: none;
        }
    }

    &-vector-3 {
        bottom: clamp(25px, 2.42vw, 46px);
        right: clamp(134px, 12.30vw, 234px);
    }
}