.ul-header {
    position: relative;
    top: 0;
    z-index: 99;

    &::before {
        position: absolute;
        content: "";
        background-color: #fff;
        width: 100%;
        height: 50%;
        z-index: -1;
    }

    &-container {
        // overflow: hidden;
        margin: auto;
        max-width: clamp(576px, 85.13vw, 1620px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include md {
            align-items: center;
        }

        @include sm {
            max-width: calc(100% - 30px);
        }
    }

    &-left {
        // background-color: var(--ul-primary);
        padding: 0 clamp(15px, 7.88vw, 150px);
        padding-right: clamp(30px, 3.15vw, 60px);
        position: relative;

        @include xxl {
            padding-left: clamp(15px, 3.88vw, 150px);
        }

        @include xl {
            padding-left: 15px;
            padding-right: 15px;
        }

        @include sm {}

        &::before {
            // position: absolute;
            // content: "";
            // height: 200%;
            // width: 10px;
            // right: -3px;
            // bottom: -5px;
            // background-color: var(--ul-black);
            // transform: rotate(-37deg);
            // transform-origin: bottom;

            // position: absolute;
            // content: "";
            // inset: 0;
            // background-color: var(--ul-primary);
            // transform: skewX(36deg);
            // z-index: -1;
            // left: -65px;
            // right: 0;
            // width: 100%;
        }
    }

    &-right {
        flex-grow: 1;
    }

    .header-top-bg-wrapper {
        clip-path: polygon(-1.062% -12.676%, 100.751% -12.676%, 101.254% -12.676%, 101.254% -12.676%, 101.329% -12.512%, 101.401% -12.035%, 101.467% -11.273%, 101.528% -10.25%, 101.582% -8.994%, 101.629% -7.529%, 101.667% -5.881%, 101.695% -4.077%, 101.713% -2.143%, 101.719% -0.103%, 101.719% -0.103%, 101.717% 1.042%, 101.711% 2.169%, 101.702% 3.27%, 101.689% 4.34%, 101.672% 5.373%, 101.652% 6.361%, 101.629% 7.3%, 101.603% 8.183%, 101.574% 9.003%, 101.542% 9.755%, 99.303% 57.701%, 99.303% 57.701%, 98.85% 66.339%, 98.371% 73.502%, 97.871% 79.173%, 97.354% 83.336%, 96.824% 85.974%, 96.288% 87.07%, 95.748% 86.608%, 95.211% 84.572%, 94.68% 80.944%, 94.161% 75.708%, 94.161% 75.708%, 93.771% 71.606%, 93.372% 68.416%, 92.966% 66.138%, 92.557% 64.77%, 92.145% 64.315%, 91.733% 64.77%, 91.324% 66.138%, 90.918% 68.416%, 90.519% 71.606%, 90.129% 75.708%, 89.752% 80.166%, 89.752% 80.166%, 89.288% 85.035%, 88.814% 88.822%, 88.333% 91.527%, 87.847% 93.15%, 87.358% 93.691%, 86.869% 93.15%, 86.383% 91.527%, 85.902% 88.822%, 85.428% 85.035%, 84.965% 80.166%, 84.965% 80.166%, 84.501% 75.297%, 84.027% 71.51%, 83.546% 68.805%, 83.06% 67.182%, 82.571% 66.641%, 82.082% 67.182%, 81.596% 68.805%, 81.115% 71.51%, 80.641% 75.297%, 80.178% 80.166%, 80.178% 80.166%, 79.714% 85.035%, 79.24% 88.822%, 78.759% 91.527%, 78.273% 93.15%, 77.784% 93.691%, 77.296% 93.15%, 76.809% 91.527%, 76.328% 88.822%, 75.855% 85.035%, 75.391% 80.166%, 75.391% 80.166%, 74.927% 75.297%, 74.454% 71.51%, 73.973% 68.805%, 73.486% 67.182%, 72.998% 66.641%, 72.509% 67.182%, 72.023% 68.805%, 71.542% 71.51%, 71.068% 75.297%, 70.604% 80.166%, 70.604% 80.166%, 70.141% 85.035%, 69.667% 88.822%, 69.186% 91.527%, 68.699% 93.15%, 68.211% 93.691%, 67.722% 93.15%, 67.236% 91.527%, 66.755% 88.822%, 66.281% 85.035%, 65.817% 80.166%, 65.817% 80.166%, 65.354% 75.297%, 64.88% 71.51%, 64.399% 68.805%, 63.912% 67.182%, 63.424% 66.641%, 62.935% 67.182%, 62.449% 68.805%, 61.968% 71.51%, 61.494% 75.297%, 61.03% 80.166%, 61.03% 80.166%, 60.567% 85.035%, 60.093% 88.822%, 59.612% 91.527%, 59.125% 93.15%, 58.637% 93.691%, 58.148% 93.15%, 57.662% 91.527%, 57.181% 88.822%, 56.707% 85.035%, 56.243% 80.166%, 56.243% 80.166%, 55.78% 75.297%, 55.306% 71.51%, 54.825% 68.805%, 54.339% 67.182%, 53.85% 66.641%, 53.361% 67.182%, 52.875% 68.805%, 52.394% 71.51%, 51.92% 75.297%, 51.457% 80.166%, 51.457% 80.166%, 50.993% 85.035%, 50.519% 88.822%, 50.038% 91.527%, 49.552% 93.15%, 49.063% 93.691%, 48.574% 93.15%, 48.088% 91.527%, 47.607% 88.822%, 47.133% 85.035%, 46.67% 80.166%, 46.67% 80.166%, 46.206% 75.297%, 45.732% 71.51%, 45.251% 68.805%, 44.765% 67.182%, 44.276% 66.641%, 43.788% 67.182%, 43.301% 68.805%, 42.82% 71.51%, 42.346% 75.297%, 41.883% 80.166%, 41.883% 80.166%, 41.419% 85.035%, 40.945% 88.822%, 40.464% 91.527%, 39.978% 93.15%, 39.489% 93.691%, 39.001% 93.15%, 38.514% 91.527%, 38.033% 88.822%, 37.56% 85.035%, 37.096% 80.166%, 37.096% 80.166%, 36.632% 75.297%, 36.159% 71.51%, 35.677% 68.805%, 35.191% 67.182%, 34.702% 66.641%, 34.214% 67.182%, 33.728% 68.805%, 33.246% 71.51%, 32.773% 75.297%, 32.309% 80.166%, 32.309% 80.166%, 31.845% 85.035%, 31.372% 88.822%, 30.891% 91.527%, 30.404% 93.15%, 29.916% 93.691%, 29.427% 93.15%, 28.941% 91.527%, 28.459% 88.822%, 27.986% 85.035%, 27.522% 80.166%, 27.522% 80.166%, 27.059% 75.297%, 26.585% 71.51%, 26.104% 68.805%, 25.617% 67.182%, 25.129% 66.641%, 24.64% 67.182%, 24.154% 68.805%, 23.673% 71.51%, 23.199% 75.297%, 22.735% 80.166%, 22.735% 80.166%, 22.272% 85.035%, 21.798% 88.822%, 21.317% 91.527%, 20.831% 93.15%, 20.342% 93.691%, 19.853% 93.15%, 19.367% 91.527%, 18.886% 88.822%, 18.412% 85.035%, 17.948% 80.166%, 17.948% 80.166%, 17.485% 75.297%, 17.011% 71.51%, 16.53% 68.805%, 16.044% 67.182%, 15.555% 66.641%, 15.066% 67.182%, 14.58% 68.805%, 14.099% 71.51%, 13.625% 75.297%, 13.162% 80.166%, 12.719% 85.393%, 12.719% 85.393%, 12.336% 89.525%, 11.944% 92.949%, 11.547% 95.663%, 11.144% 97.662%, 10.739% 98.945%, 10.331% 99.507%, 9.921% 99.347%, 9.513% 98.461%, 9.106% 96.847%, 8.702% 94.5%, 3.006% 56.031%, 3.006% 56.031%, 2.883% 55.261%, 2.76% 54.601%, 2.636% 54.05%, 2.512% 53.61%, 2.387% 53.279%, 2.262% 53.059%, 2.136% 52.95%, 2.011% 52.951%, 1.885% 53.064%, 1.76% 53.288%, -0.953% 59.333%, -0.953% 59.333%, -1.182% 59.317%, -1.401% 58.285%, -1.607% 56.319%, -1.796% 53.503%, -1.966% 49.919%, -2.112% 45.65%, -2.231% 40.78%, -2.32% 35.391%, -2.376% 29.567%, -2.396% 23.39%, -2.396% 23.39%, -2.378% 17.54%, -2.328% 11.99%, -2.247% 6.815%, -2.139% 2.09%, -2.005% -2.113%, -1.85% -5.717%, -1.675% -8.65%, -1.484% -10.837%, -1.278% -12.204%, -1.062% -12.676%);
        background-color: var(--ul-c3);
        padding-bottom: clamp(3px, 0.32vw, 6px);

        @include sm {
            clip-path: polygon(-0.173% -13.235%, 104.182% -13.235%, 104.182% -13.235%, 104.348% -13.109%, 104.506% -12.743%, 104.654% -12.157%, 104.788% -11.371%, 104.908% -10.405%, 105.01% -9.279%, 105.094% -8.013%, 105.156% -6.627%, 105.195% -5.14%, 105.208% -3.573%, 105.208% 69.399%, 105.208% 69.399%, 105.134% 75.616%, 104.925% 81.203%, 104.599% 86.061%, 104.178% 90.095%, 103.68% 93.208%, 103.125% 95.301%, 102.533% 96.279%, 101.923% 96.044%, 101.316% 94.499%, 100.73% 91.547%, 100.73% 91.547%, 100.61% 90.81%, 100.486% 90.132%, 100.36% 89.514%, 100.23% 88.957%, 100.098% 88.462%, 99.963% 88.03%, 99.826% 87.661%, 99.687% 87.356%, 99.546% 87.117%, 99.404% 86.944%, 96.618% 84.213%, 96.618% 84.213%, 96.309% 83.983%, 96% 83.897%, 95.692% 83.955%, 95.384% 84.156%, 95.078% 84.499%, 94.775% 84.984%, 94.474% 85.609%, 94.176% 86.375%, 93.882% 87.279%, 93.593% 88.322%, 92.349% 93.135%, 92.349% 93.135%, 91.887% 94.729%, 91.416% 95.968%, 90.938% 96.853%, 90.456% 97.384%, 89.971% 97.561%, 89.487% 97.384%, 89.004% 96.853%, 88.526% 95.968%, 88.055% 94.729%, 87.593% 93.135%, 87.271% 91.887%, 87.271% 91.887%, 86.808% 90.294%, 86.337% 89.055%, 85.859% 88.17%, 85.377% 87.639%, 84.892% 87.462%, 84.408% 87.639%, 83.925% 88.17%, 83.447% 89.055%, 82.976% 90.294%, 82.514% 91.887%, 82.192% 93.135%, 82.192% 93.135%, 81.729% 94.729%, 81.258% 95.968%, 80.78% 96.853%, 80.298% 97.384%, 79.813% 97.561%, 79.329% 97.384%, 78.846% 96.853%, 78.368% 95.968%, 77.897% 94.729%, 77.435% 93.135%, 77.113% 91.887%, 77.113% 91.887%, 76.65% 90.294%, 76.179% 89.055%, 75.701% 88.17%, 75.219% 87.639%, 74.734% 87.462%, 74.249% 87.639%, 73.767% 88.17%, 73.289% 89.055%, 72.818% 90.294%, 72.356% 91.887%, 72.033% 93.135%, 72.033% 93.135%, 71.571% 94.729%, 71.1% 95.968%, 70.622% 96.853%, 70.14% 97.384%, 69.655% 97.561%, 69.171% 97.384%, 68.688% 96.853%, 68.21% 95.968%, 67.739% 94.729%, 67.277% 93.135%, 66.955% 91.887%, 66.955% 91.887%, 66.492% 90.294%, 66.021% 89.055%, 65.543% 88.17%, 65.061% 87.639%, 64.576% 87.462%, 64.092% 87.639%, 63.609% 88.17%, 63.131% 89.055%, 62.66% 90.294%, 62.198% 91.887%, 61.876% 93.135%, 61.876% 93.135%, 61.413% 94.729%, 60.942% 95.968%, 60.464% 96.853%, 59.982% 97.384%, 59.497% 97.561%, 59.013% 97.384%, 58.53% 96.853%, 58.052% 95.968%, 57.581% 94.729%, 57.119% 93.135%, 56.796% 91.887%, 56.796% 91.887%, 56.334% 90.294%, 55.863% 89.055%, 55.385% 88.17%, 54.903% 87.639%, 54.418% 87.462%, 53.934% 87.639%, 53.451% 88.17%, 52.973% 89.055%, 52.502% 90.294%, 52.04% 91.887%, 51.718% 93.135%, 51.718% 93.135%, 51.255% 94.729%, 50.784% 95.968%, 50.306% 96.853%, 49.824% 97.384%, 49.339% 97.561%, 48.854% 97.384%, 48.372% 96.853%, 47.894% 95.968%, 47.423% 94.729%, 46.961% 93.135%, 46.638% 91.887%, 46.638% 91.887%, 46.176% 90.294%, 45.705% 89.055%, 45.227% 88.17%, 44.745% 87.639%, 44.26% 87.462%, 43.775% 87.639%, 43.293% 88.17%, 42.815% 89.055%, 42.344% 90.294%, 41.882% 91.887%, 41.559% 93.135%, 41.559% 93.135%, 41.097% 94.729%, 40.626% 95.968%, 40.148% 96.853%, 39.666% 97.384%, 39.181% 97.561%, 38.696% 97.384%, 38.214% 96.853%, 37.736% 95.968%, 37.265% 94.729%, 36.803% 93.135%, 36.48% 91.887%, 36.48% 91.887%, 36.018% 90.294%, 35.547% 89.055%, 35.069% 88.17%, 34.587% 87.639%, 34.102% 87.462%, 33.617% 87.639%, 33.135% 88.17%, 32.657% 89.055%, 32.186% 90.294%, 31.724% 91.887%, 31.401% 93.135%, 31.401% 93.135%, 30.939% 94.729%, 30.468% 95.968%, 29.99% 96.853%, 29.508% 97.384%, 29.023% 97.561%, 28.538% 97.384%, 28.056% 96.853%, 27.578% 95.968%, 27.107% 94.729%, 26.645% 93.135%, 26.322% 91.887%, 26.322% 91.887%, 25.86% 90.294%, 25.389% 89.055%, 24.911% 88.17%, 24.429% 87.639%, 23.944% 87.462%, 23.459% 87.639%, 22.977% 88.17%, 22.499% 89.055%, 22.028% 90.294%, 21.566% 91.887%, 21.243% 93.135%, 21.243% 93.135%, 20.781% 94.729%, 20.31% 95.968%, 19.832% 96.853%, 19.35% 97.384%, 18.865% 97.561%, 18.38% 97.384%, 17.898% 96.853%, 17.42% 95.968%, 16.949% 94.729%, 16.487% 93.135%, 16.164% 91.887%, 16.164% 91.887%, 15.702% 90.294%, 15.231% 89.055%, 14.753% 88.17%, 14.271% 87.639%, 13.786% 87.462%, 13.301% 87.639%, 12.819% 88.17%, 12.341% 89.055%, 11.87% 90.294%, 11.408% 91.887%, 10.563% 95.16%, 10.563% 95.16%, 10.197% 96.452%, 9.825% 97.522%, 9.448% 98.371%, 9.066% 98.997%, 8.682% 99.399%, 8.296% 99.576%, 7.908% 99.528%, 7.522% 99.254%, 7.136% 98.753%, 6.754% 98.024%, 0.442% 84.056%, 0.442% 84.056%, 0.318% 83.8%, 0.193% 83.58%, 0.067% 83.397%, -0.059% 83.25%, -0.185% 83.14%, -0.312% 83.067%, -0.439% 83.03%, -0.566% 83.031%, -0.693% 83.068%, -0.82% 83.142%, -0.82% 83.142%, -1.526% 83.095%, -2.201% 81.962%, -2.835% 79.833%, -3.418% 76.796%, -3.938% 72.939%, -4.387% 68.352%, -4.754% 63.122%, -5.029% 57.34%, -5.201% 51.092%, -5.26% 44.469%, -5.26% 34.645%, -5.26% 34.645%, -5.194% 26.879%, -5.001% 19.511%, -4.693% 12.641%, -4.279% 6.368%, -3.77% 0.789%, -3.178% -3.997%, -2.511% -7.891%, -1.781% -10.794%, -0.998% -12.609%, -0.173% -13.235%);
        }
    }

    &-top {
        background-color: var(--ul-primary);
        color: var(--white);
        display: flex;
        align-items: center;
        padding: clamp(10px, 0.79vw, 15px) 0 clamp(20px, 2.10vw, 40px);
        clip-path: polygon(-1.062% -12.676%, 100.751% -12.676%, 101.254% -12.676%, 101.254% -12.676%, 101.329% -12.512%, 101.401% -12.035%, 101.467% -11.273%, 101.528% -10.25%, 101.582% -8.994%, 101.629% -7.529%, 101.667% -5.881%, 101.695% -4.077%, 101.713% -2.143%, 101.719% -0.103%, 101.719% -0.103%, 101.717% 1.042%, 101.711% 2.169%, 101.702% 3.27%, 101.689% 4.34%, 101.672% 5.373%, 101.652% 6.361%, 101.629% 7.3%, 101.603% 8.183%, 101.574% 9.003%, 101.542% 9.755%, 99.303% 57.701%, 99.303% 57.701%, 98.85% 66.339%, 98.371% 73.502%, 97.871% 79.173%, 97.354% 83.336%, 96.824% 85.974%, 96.288% 87.07%, 95.748% 86.608%, 95.211% 84.572%, 94.68% 80.944%, 94.161% 75.708%, 94.161% 75.708%, 93.771% 71.606%, 93.372% 68.416%, 92.966% 66.138%, 92.557% 64.77%, 92.145% 64.315%, 91.733% 64.77%, 91.324% 66.138%, 90.918% 68.416%, 90.519% 71.606%, 90.129% 75.708%, 89.752% 80.166%, 89.752% 80.166%, 89.288% 85.035%, 88.814% 88.822%, 88.333% 91.527%, 87.847% 93.15%, 87.358% 93.691%, 86.869% 93.15%, 86.383% 91.527%, 85.902% 88.822%, 85.428% 85.035%, 84.965% 80.166%, 84.965% 80.166%, 84.501% 75.297%, 84.027% 71.51%, 83.546% 68.805%, 83.06% 67.182%, 82.571% 66.641%, 82.082% 67.182%, 81.596% 68.805%, 81.115% 71.51%, 80.641% 75.297%, 80.178% 80.166%, 80.178% 80.166%, 79.714% 85.035%, 79.24% 88.822%, 78.759% 91.527%, 78.273% 93.15%, 77.784% 93.691%, 77.296% 93.15%, 76.809% 91.527%, 76.328% 88.822%, 75.855% 85.035%, 75.391% 80.166%, 75.391% 80.166%, 74.927% 75.297%, 74.454% 71.51%, 73.973% 68.805%, 73.486% 67.182%, 72.998% 66.641%, 72.509% 67.182%, 72.023% 68.805%, 71.542% 71.51%, 71.068% 75.297%, 70.604% 80.166%, 70.604% 80.166%, 70.141% 85.035%, 69.667% 88.822%, 69.186% 91.527%, 68.699% 93.15%, 68.211% 93.691%, 67.722% 93.15%, 67.236% 91.527%, 66.755% 88.822%, 66.281% 85.035%, 65.817% 80.166%, 65.817% 80.166%, 65.354% 75.297%, 64.88% 71.51%, 64.399% 68.805%, 63.912% 67.182%, 63.424% 66.641%, 62.935% 67.182%, 62.449% 68.805%, 61.968% 71.51%, 61.494% 75.297%, 61.03% 80.166%, 61.03% 80.166%, 60.567% 85.035%, 60.093% 88.822%, 59.612% 91.527%, 59.125% 93.15%, 58.637% 93.691%, 58.148% 93.15%, 57.662% 91.527%, 57.181% 88.822%, 56.707% 85.035%, 56.243% 80.166%, 56.243% 80.166%, 55.78% 75.297%, 55.306% 71.51%, 54.825% 68.805%, 54.339% 67.182%, 53.85% 66.641%, 53.361% 67.182%, 52.875% 68.805%, 52.394% 71.51%, 51.92% 75.297%, 51.457% 80.166%, 51.457% 80.166%, 50.993% 85.035%, 50.519% 88.822%, 50.038% 91.527%, 49.552% 93.15%, 49.063% 93.691%, 48.574% 93.15%, 48.088% 91.527%, 47.607% 88.822%, 47.133% 85.035%, 46.67% 80.166%, 46.67% 80.166%, 46.206% 75.297%, 45.732% 71.51%, 45.251% 68.805%, 44.765% 67.182%, 44.276% 66.641%, 43.788% 67.182%, 43.301% 68.805%, 42.82% 71.51%, 42.346% 75.297%, 41.883% 80.166%, 41.883% 80.166%, 41.419% 85.035%, 40.945% 88.822%, 40.464% 91.527%, 39.978% 93.15%, 39.489% 93.691%, 39.001% 93.15%, 38.514% 91.527%, 38.033% 88.822%, 37.56% 85.035%, 37.096% 80.166%, 37.096% 80.166%, 36.632% 75.297%, 36.159% 71.51%, 35.677% 68.805%, 35.191% 67.182%, 34.702% 66.641%, 34.214% 67.182%, 33.728% 68.805%, 33.246% 71.51%, 32.773% 75.297%, 32.309% 80.166%, 32.309% 80.166%, 31.845% 85.035%, 31.372% 88.822%, 30.891% 91.527%, 30.404% 93.15%, 29.916% 93.691%, 29.427% 93.15%, 28.941% 91.527%, 28.459% 88.822%, 27.986% 85.035%, 27.522% 80.166%, 27.522% 80.166%, 27.059% 75.297%, 26.585% 71.51%, 26.104% 68.805%, 25.617% 67.182%, 25.129% 66.641%, 24.64% 67.182%, 24.154% 68.805%, 23.673% 71.51%, 23.199% 75.297%, 22.735% 80.166%, 22.735% 80.166%, 22.272% 85.035%, 21.798% 88.822%, 21.317% 91.527%, 20.831% 93.15%, 20.342% 93.691%, 19.853% 93.15%, 19.367% 91.527%, 18.886% 88.822%, 18.412% 85.035%, 17.948% 80.166%, 17.948% 80.166%, 17.485% 75.297%, 17.011% 71.51%, 16.53% 68.805%, 16.044% 67.182%, 15.555% 66.641%, 15.066% 67.182%, 14.58% 68.805%, 14.099% 71.51%, 13.625% 75.297%, 13.162% 80.166%, 12.719% 85.393%, 12.719% 85.393%, 12.336% 89.525%, 11.944% 92.949%, 11.547% 95.663%, 11.144% 97.662%, 10.739% 98.945%, 10.331% 99.507%, 9.921% 99.347%, 9.513% 98.461%, 9.106% 96.847%, 8.702% 94.5%, 3.006% 56.031%, 3.006% 56.031%, 2.883% 55.261%, 2.76% 54.601%, 2.636% 54.05%, 2.512% 53.61%, 2.387% 53.279%, 2.262% 53.059%, 2.136% 52.95%, 2.011% 52.951%, 1.885% 53.064%, 1.76% 53.288%, -0.953% 59.333%, -0.953% 59.333%, -1.182% 59.317%, -1.401% 58.285%, -1.607% 56.319%, -1.796% 53.503%, -1.966% 49.919%, -2.112% 45.65%, -2.231% 40.78%, -2.32% 35.391%, -2.376% 29.567%, -2.396% 23.39%, -2.396% 23.39%, -2.378% 17.54%, -2.328% 11.99%, -2.247% 6.815%, -2.139% 2.09%, -2.005% -2.113%, -1.85% -5.717%, -1.675% -8.65%, -1.484% -10.837%, -1.278% -12.204%, -1.062% -12.676%);



        @include sm {
            padding-bottom: 20px;
        }

        @include sm {
            clip-path: polygon(-0.173% -13.235%, 104.182% -13.235%, 104.182% -13.235%, 104.348% -13.109%, 104.506% -12.743%, 104.654% -12.157%, 104.788% -11.371%, 104.908% -10.405%, 105.01% -9.279%, 105.094% -8.013%, 105.156% -6.627%, 105.195% -5.14%, 105.208% -3.573%, 105.208% 69.399%, 105.208% 69.399%, 105.134% 75.616%, 104.925% 81.203%, 104.599% 86.061%, 104.178% 90.095%, 103.68% 93.208%, 103.125% 95.301%, 102.533% 96.279%, 101.923% 96.044%, 101.316% 94.499%, 100.73% 91.547%, 100.73% 91.547%, 100.61% 90.81%, 100.486% 90.132%, 100.36% 89.514%, 100.23% 88.957%, 100.098% 88.462%, 99.963% 88.03%, 99.826% 87.661%, 99.687% 87.356%, 99.546% 87.117%, 99.404% 86.944%, 96.618% 84.213%, 96.618% 84.213%, 96.309% 83.983%, 96% 83.897%, 95.692% 83.955%, 95.384% 84.156%, 95.078% 84.499%, 94.775% 84.984%, 94.474% 85.609%, 94.176% 86.375%, 93.882% 87.279%, 93.593% 88.322%, 92.349% 93.135%, 92.349% 93.135%, 91.887% 94.729%, 91.416% 95.968%, 90.938% 96.853%, 90.456% 97.384%, 89.971% 97.561%, 89.487% 97.384%, 89.004% 96.853%, 88.526% 95.968%, 88.055% 94.729%, 87.593% 93.135%, 87.271% 91.887%, 87.271% 91.887%, 86.808% 90.294%, 86.337% 89.055%, 85.859% 88.17%, 85.377% 87.639%, 84.892% 87.462%, 84.408% 87.639%, 83.925% 88.17%, 83.447% 89.055%, 82.976% 90.294%, 82.514% 91.887%, 82.192% 93.135%, 82.192% 93.135%, 81.729% 94.729%, 81.258% 95.968%, 80.78% 96.853%, 80.298% 97.384%, 79.813% 97.561%, 79.329% 97.384%, 78.846% 96.853%, 78.368% 95.968%, 77.897% 94.729%, 77.435% 93.135%, 77.113% 91.887%, 77.113% 91.887%, 76.65% 90.294%, 76.179% 89.055%, 75.701% 88.17%, 75.219% 87.639%, 74.734% 87.462%, 74.249% 87.639%, 73.767% 88.17%, 73.289% 89.055%, 72.818% 90.294%, 72.356% 91.887%, 72.033% 93.135%, 72.033% 93.135%, 71.571% 94.729%, 71.1% 95.968%, 70.622% 96.853%, 70.14% 97.384%, 69.655% 97.561%, 69.171% 97.384%, 68.688% 96.853%, 68.21% 95.968%, 67.739% 94.729%, 67.277% 93.135%, 66.955% 91.887%, 66.955% 91.887%, 66.492% 90.294%, 66.021% 89.055%, 65.543% 88.17%, 65.061% 87.639%, 64.576% 87.462%, 64.092% 87.639%, 63.609% 88.17%, 63.131% 89.055%, 62.66% 90.294%, 62.198% 91.887%, 61.876% 93.135%, 61.876% 93.135%, 61.413% 94.729%, 60.942% 95.968%, 60.464% 96.853%, 59.982% 97.384%, 59.497% 97.561%, 59.013% 97.384%, 58.53% 96.853%, 58.052% 95.968%, 57.581% 94.729%, 57.119% 93.135%, 56.796% 91.887%, 56.796% 91.887%, 56.334% 90.294%, 55.863% 89.055%, 55.385% 88.17%, 54.903% 87.639%, 54.418% 87.462%, 53.934% 87.639%, 53.451% 88.17%, 52.973% 89.055%, 52.502% 90.294%, 52.04% 91.887%, 51.718% 93.135%, 51.718% 93.135%, 51.255% 94.729%, 50.784% 95.968%, 50.306% 96.853%, 49.824% 97.384%, 49.339% 97.561%, 48.854% 97.384%, 48.372% 96.853%, 47.894% 95.968%, 47.423% 94.729%, 46.961% 93.135%, 46.638% 91.887%, 46.638% 91.887%, 46.176% 90.294%, 45.705% 89.055%, 45.227% 88.17%, 44.745% 87.639%, 44.26% 87.462%, 43.775% 87.639%, 43.293% 88.17%, 42.815% 89.055%, 42.344% 90.294%, 41.882% 91.887%, 41.559% 93.135%, 41.559% 93.135%, 41.097% 94.729%, 40.626% 95.968%, 40.148% 96.853%, 39.666% 97.384%, 39.181% 97.561%, 38.696% 97.384%, 38.214% 96.853%, 37.736% 95.968%, 37.265% 94.729%, 36.803% 93.135%, 36.48% 91.887%, 36.48% 91.887%, 36.018% 90.294%, 35.547% 89.055%, 35.069% 88.17%, 34.587% 87.639%, 34.102% 87.462%, 33.617% 87.639%, 33.135% 88.17%, 32.657% 89.055%, 32.186% 90.294%, 31.724% 91.887%, 31.401% 93.135%, 31.401% 93.135%, 30.939% 94.729%, 30.468% 95.968%, 29.99% 96.853%, 29.508% 97.384%, 29.023% 97.561%, 28.538% 97.384%, 28.056% 96.853%, 27.578% 95.968%, 27.107% 94.729%, 26.645% 93.135%, 26.322% 91.887%, 26.322% 91.887%, 25.86% 90.294%, 25.389% 89.055%, 24.911% 88.17%, 24.429% 87.639%, 23.944% 87.462%, 23.459% 87.639%, 22.977% 88.17%, 22.499% 89.055%, 22.028% 90.294%, 21.566% 91.887%, 21.243% 93.135%, 21.243% 93.135%, 20.781% 94.729%, 20.31% 95.968%, 19.832% 96.853%, 19.35% 97.384%, 18.865% 97.561%, 18.38% 97.384%, 17.898% 96.853%, 17.42% 95.968%, 16.949% 94.729%, 16.487% 93.135%, 16.164% 91.887%, 16.164% 91.887%, 15.702% 90.294%, 15.231% 89.055%, 14.753% 88.17%, 14.271% 87.639%, 13.786% 87.462%, 13.301% 87.639%, 12.819% 88.17%, 12.341% 89.055%, 11.87% 90.294%, 11.408% 91.887%, 10.563% 95.16%, 10.563% 95.16%, 10.197% 96.452%, 9.825% 97.522%, 9.448% 98.371%, 9.066% 98.997%, 8.682% 99.399%, 8.296% 99.576%, 7.908% 99.528%, 7.522% 99.254%, 7.136% 98.753%, 6.754% 98.024%, 0.442% 84.056%, 0.442% 84.056%, 0.318% 83.8%, 0.193% 83.58%, 0.067% 83.397%, -0.059% 83.25%, -0.185% 83.14%, -0.312% 83.067%, -0.439% 83.03%, -0.566% 83.031%, -0.693% 83.068%, -0.82% 83.142%, -0.82% 83.142%, -1.526% 83.095%, -2.201% 81.962%, -2.835% 79.833%, -3.418% 76.796%, -3.938% 72.939%, -4.387% 68.352%, -4.754% 63.122%, -5.029% 57.34%, -5.201% 51.092%, -5.26% 44.469%, -5.26% 34.645%, -5.26% 34.645%, -5.194% 26.879%, -5.001% 19.511%, -4.693% 12.641%, -4.279% 6.368%, -3.77% 0.789%, -3.178% -3.997%, -2.511% -7.891%, -1.781% -10.794%, -0.998% -12.609%, -0.173% -13.235%);
        }

        &-left {

            @include sm {
                display: none;
            }
        }

        &-right {
            // background-color: var(--ul-secondary);
            flex-grow: 1;
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: clamp(15px, 1.84vw, 35px);

            @include sm {
                justify-content: space-between;
            }

            // &::before {
            //     position: absolute;
            //     z-index: -1;
            //     content: "";
            //     height: 100%;
            //     width: 100%;
            //     top: 0;
            //     left: -10px;
            //     background-color: var(--ul-secondary);
            //     transform: skewX(15deg);
            // }
        }
    }

    &-contact-infos {
        display: flex;
    }

    &-contact-info {
        font-size: clamp(13px, 0.84vw, 16px);
        // padding: clamp(13px, 0.84vw, 16px) 0;
        display: flex;
        align-items: center;
        gap: clamp(3px, 0.32vw, 6px);
        position: relative;
        margin: 0 clamp(15px, 1.84vw, 35px);

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }

        // &::before {
        //     position: absolute;
        //     content: "";
        //     height: 100%;
        //     top: 0;
        //     right: 0;
        //     width: 3px;
        //     background-color: var(--ul-secondary);
        //     transform: skewX(15deg);
        // }

        // .colored {
        //     color: var(--ul-c5);
        //     font-weight: 500;
        // }
    }

    &-auth-options {
        display: flex;
        align-items: center;
        gap: 6px;

        a {
            color: var(--white);
            font-size: clamp(13px, 0.84vw, 16px);

            &:hover {
                color: var(--ul-secondary);
            }
        }
    }

    &-socials {
        display: flex;
        align-items: center;
        gap: clamp(7px, 1.05vw, 20px);

        .socials-title {
            display: block;
            font-size: clamp(13px, 0.84vw, 16px);
        }

        .links {
            padding-top: 0;
            display: flex;
            gap: clamp(12px, 0.79vw, 15px);
            font-size: clamp(13px, 0.84vw, 16px);
        }

        a {
            display: inline-flex;
            color: var(--white);

            &:hover {
                color: var(--ul-secondary);
            }
        }
    }

    .header-bottom-bg-wrapper {
        // clip-path: polygon(-0.173% -69.853%, 104.182% -69.853%, 104.182% -69.853%, 104.348% -69.663%, 104.506% -69.114%, 104.654% -68.235%, 104.788% -67.056%, 104.908% -65.608%, 105.01% -63.919%, 105.094% -62.02%, 105.156% -59.941%, 105.195% -57.71%, 105.208% -55.36%, 105.208% 54.099%, 105.208% 54.099%, 105.134% 63.424%, 104.925% 71.804%, 104.599% 79.092%, 104.178% 85.143%, 103.68% 89.811%, 103.125% 92.952%, 102.533% 94.418%, 101.923% 94.065%, 101.316% 91.747%, 100.73% 87.319%, 100.73% 87.319%, 100.61% 86.214%, 100.486% 85.197%, 100.36% 84.271%, 100.23% 83.436%, 100.098% 82.693%, 99.963% 82.045%, 99.826% 81.491%, 99.687% 81.034%, 99.546% 80.675%, 99.404% 80.415%, 96.618% 76.319%, 96.618% 76.319%, 96.309% 75.974%, 96% 75.845%, 95.692% 75.933%, 95.384% 76.234%, 95.078% 76.749%, 94.775% 77.476%, 94.474% 78.414%, 94.176% 79.562%, 93.882% 80.919%, 93.593% 82.483%, 92.349% 89.703%, 92.349% 89.703%, 91.887% 92.093%, 91.416% 93.952%, 90.938% 95.279%, 90.456% 96.076%, 89.971% 96.342%, 89.487% 96.076%, 89.004% 95.279%, 88.526% 93.952%, 88.055% 92.093%, 87.593% 89.703%, 87.271% 87.831%, 87.271% 87.831%, 86.808% 85.441%, 86.337% 83.582%, 85.859% 82.254%, 85.377% 81.458%, 84.892% 81.192%, 84.408% 81.458%, 83.925% 82.254%, 83.447% 83.582%, 82.976% 85.441%, 82.514% 87.831%, 82.192% 89.703%, 82.192% 89.703%, 81.729% 92.093%, 81.258% 93.952%, 80.78% 95.279%, 80.298% 96.076%, 79.813% 96.342%, 79.329% 96.076%, 78.846% 95.279%, 78.368% 93.952%, 77.897% 92.093%, 77.435% 89.703%, 77.113% 87.831%, 77.113% 87.831%, 76.65% 85.441%, 76.179% 83.582%, 75.701% 82.254%, 75.219% 81.458%, 74.734% 81.192%, 74.249% 81.458%, 73.767% 82.254%, 73.289% 83.582%, 72.818% 85.441%, 72.356% 87.831%, 72.033% 89.703%, 72.033% 89.703%, 71.571% 92.093%, 71.1% 93.952%, 70.622% 95.279%, 70.14% 96.076%, 69.655% 96.342%, 69.171% 96.076%, 68.688% 95.279%, 68.21% 93.952%, 67.739% 92.093%, 67.277% 89.703%, 66.955% 87.831%, 66.955% 87.831%, 66.492% 85.441%, 66.021% 83.582%, 65.543% 82.254%, 65.061% 81.458%, 64.576% 81.192%, 64.092% 81.458%, 63.609% 82.254%, 63.131% 83.582%, 62.66% 85.441%, 62.198% 87.831%, 61.876% 89.703%, 61.876% 89.703%, 61.413% 92.093%, 60.942% 93.952%, 60.464% 95.279%, 59.982% 96.076%, 59.497% 96.342%, 59.013% 96.076%, 58.53% 95.279%, 58.052% 93.952%, 57.581% 92.093%, 57.119% 89.703%, 56.796% 87.831%, 56.796% 87.831%, 56.334% 85.441%, 55.863% 83.582%, 55.385% 82.254%, 54.903% 81.458%, 54.418% 81.192%, 53.934% 81.458%, 53.451% 82.254%, 52.973% 83.582%, 52.502% 85.441%, 52.04% 87.831%, 51.718% 89.703%, 51.718% 89.703%, 51.255% 92.093%, 50.784% 93.952%, 50.306% 95.279%, 49.824% 96.076%, 49.339% 96.342%, 48.854% 96.076%, 48.372% 95.279%, 47.894% 93.952%, 47.423% 92.093%, 46.961% 89.703%, 46.638% 87.831%, 46.638% 87.831%, 46.176% 85.441%, 45.705% 83.582%, 45.227% 82.254%, 44.745% 81.458%, 44.26% 81.192%, 43.775% 81.458%, 43.293% 82.254%, 42.815% 83.582%, 42.344% 85.441%, 41.882% 87.831%, 41.559% 89.703%, 41.559% 89.703%, 41.097% 92.093%, 40.626% 93.952%, 40.148% 95.279%, 39.666% 96.076%, 39.181% 96.342%, 38.696% 96.076%, 38.214% 95.279%, 37.736% 93.952%, 37.265% 92.093%, 36.803% 89.703%, 36.48% 87.831%, 36.48% 87.831%, 36.018% 85.441%, 35.547% 83.582%, 35.069% 82.254%, 34.587% 81.458%, 34.102% 81.192%, 33.617% 81.458%, 33.135% 82.254%, 32.657% 83.582%, 32.186% 85.441%, 31.724% 87.831%, 31.401% 89.703%, 31.401% 89.703%, 30.939% 92.093%, 30.468% 93.952%, 29.99% 95.279%, 29.508% 96.076%, 29.023% 96.342%, 28.538% 96.076%, 28.056% 95.279%, 27.578% 93.952%, 27.107% 92.093%, 26.645% 89.703%, 26.322% 87.831%, 26.322% 87.831%, 25.86% 85.441%, 25.389% 83.582%, 24.911% 82.254%, 24.429% 81.458%, 23.944% 81.192%, 23.459% 81.458%, 22.977% 82.254%, 22.499% 83.582%, 22.028% 85.441%, 21.566% 87.831%, 21.243% 89.703%, 21.243% 89.703%, 20.781% 92.093%, 20.31% 93.952%, 19.832% 95.279%, 19.35% 96.076%, 18.865% 96.342%, 18.38% 96.076%, 17.898% 95.279%, 17.42% 93.952%, 16.949% 92.093%, 16.487% 89.703%, 16.164% 87.831%, 16.164% 87.831%, 15.702% 85.441%, 15.231% 83.582%, 14.753% 82.254%, 14.271% 81.458%, 13.786% 81.192%, 13.301% 81.458%, 12.819% 82.254%, 12.341% 83.582%, 11.87% 85.441%, 11.408% 87.831%, 10.563% 92.74%, 10.563% 92.74%, 10.197% 94.677%, 9.825% 96.283%, 9.448% 97.556%, 9.066% 98.495%, 8.682% 99.098%, 8.296% 99.364%, 7.908% 99.292%, 7.522% 98.881%, 7.136% 98.129%, 6.754% 97.035%, 0.442% 76.084%, 0.442% 76.084%, 0.318% 75.7%, 0.193% 75.37%, 0.067% 75.095%, -0.059% 74.875%, -0.185% 74.71%, -0.312% 74.6%, -0.439% 74.546%, -0.566% 74.546%, -0.693% 74.602%, -0.82% 74.713%, -0.82% 74.713%, -1.526% 74.642%, -2.201% 72.943%, -2.835% 69.749%, -3.418% 65.193%, -3.938% 59.408%, -4.387% 52.527%, -4.754% 44.683%, -5.029% 36.009%, -5.201% 26.638%, -5.26% 16.703%, -5.26% 1.968%, -5.26% 1.968%, -5.194% -9.682%, -5.001% -20.733%, -4.693% -31.038%, -4.279% -40.449%, -3.77% -48.817%, -3.178% -55.996%, -2.511% -61.837%, -1.781% -66.192%, -0.998% -68.913%, -0.173% -69.853%);
        // padding-bottom: clamp(2px, 0.21vw, 4px);
        // background-color: var(--ul-primary);
        position: absolute;
        top: 100%;
        width: 100%;

        &.sticky {
            position: fixed;
            top: 0;

            .ul-header-bottom {
                // padding: clamp(10px, 0.84vw, 16px) 0;
            }
        }
    }

    &-bottom {
        padding: clamp(10px, 0.84vw, 16px) 0 clamp(20px, 1.84vw, 35px);
        padding: clamp(2px, 0.26vw, 5px) 0 clamp(10px, 0.84vw, 16px);
        padding: clamp(2px, 0.26vw, 5px) 0 clamp(20px, 1.58vw, 30px);
        position: relative;
        z-index: 1;


        &::before,
        &::after {
            content: "";
            inset: 0;
            position: absolute;
            background-color: var(--ul-primary);
            clip-path: polygon(-0.173% -102.632%, 104.182% -102.632%, 104.182% -102.632%, 104.348% -102.405%, 104.506% -101.75%, 104.654% -100.702%, 104.788% -99.296%, 104.908% -97.567%, 105.01% -95.553%, 105.094% -93.287%, 105.156% -90.806%, 105.195% -88.146%, 105.208% -85.341%, 105.208% 45.24%, 105.208% 45.24%, 105.134% 56.366%, 104.925% 66.363%, 104.599% 75.057%, 104.178% 82.276%, 103.68% 87.845%, 103.125% 91.592%, 102.533% 93.341%, 101.923% 92.92%, 101.316% 90.155%, 100.73% 84.872%, 100.73% 84.872%, 100.61% 83.554%, 100.486% 82.341%, 100.36% 81.236%, 100.23% 80.239%, 100.098% 79.353%, 99.963% 78.579%, 99.826% 77.919%, 99.687% 77.374%, 99.546% 76.946%, 99.404% 76.636%, 96.618% 71.749%, 96.618% 71.749%, 96.309% 71.337%, 96% 71.184%, 95.692% 71.288%, 95.384% 71.648%, 95.078% 72.262%, 94.775% 73.129%, 94.474% 74.248%, 94.176% 75.618%, 93.882% 77.236%, 93.593% 79.103%, 92.349% 87.716%, 92.349% 87.716%, 91.887% 90.567%, 91.416% 92.785%, 90.938% 94.368%, 90.456% 95.319%, 89.971% 95.636%, 89.487% 95.319%, 89.004% 94.368%, 88.526% 92.784%, 88.055% 90.567%, 87.593% 87.716%, 87.271% 85.483%, 87.271% 85.483%, 86.808% 82.632%, 86.337% 80.414%, 85.859% 78.83%, 85.377% 77.88%, 84.892% 77.563%, 84.408% 77.88%, 83.925% 78.83%, 83.447% 80.414%, 82.976% 82.632%, 82.514% 85.483%, 82.192% 87.716%, 82.192% 87.716%, 81.729% 90.567%, 81.258% 92.784%, 80.78% 94.368%, 80.298% 95.319%, 79.813% 95.636%, 79.329% 95.319%, 78.846% 94.368%, 78.368% 92.784%, 77.897% 90.567%, 77.435% 87.716%, 77.113% 85.483%, 77.113% 85.483%, 76.65% 82.632%, 76.179% 80.414%, 75.701% 78.83%, 75.219% 77.88%, 74.734% 77.563%, 74.249% 77.88%, 73.767% 78.83%, 73.289% 80.414%, 72.818% 82.632%, 72.356% 85.483%, 72.033% 87.716%, 72.033% 87.716%, 71.571% 90.567%, 71.1% 92.784%, 70.622% 94.368%, 70.14% 95.319%, 69.655% 95.636%, 69.171% 95.319%, 68.688% 94.368%, 68.21% 92.784%, 67.739% 90.567%, 67.277% 87.716%, 66.955% 85.483%, 66.955% 85.483%, 66.492% 82.632%, 66.021% 80.414%, 65.543% 78.83%, 65.061% 77.88%, 64.576% 77.563%, 64.092% 77.88%, 63.609% 78.83%, 63.131% 80.414%, 62.66% 82.632%, 62.198% 85.483%, 61.876% 87.716%, 61.876% 87.716%, 61.413% 90.567%, 60.942% 92.784%, 60.464% 94.368%, 59.982% 95.319%, 59.497% 95.636%, 59.013% 95.319%, 58.53% 94.368%, 58.052% 92.784%, 57.581% 90.567%, 57.119% 87.716%, 56.796% 85.483%, 56.796% 85.483%, 56.334% 82.632%, 55.863% 80.414%, 55.385% 78.83%, 54.903% 77.88%, 54.418% 77.563%, 53.934% 77.88%, 53.451% 78.83%, 52.973% 80.414%, 52.502% 82.632%, 52.04% 85.483%, 51.718% 87.716%, 51.718% 87.716%, 51.255% 90.567%, 50.784% 92.784%, 50.306% 94.368%, 49.824% 95.319%, 49.339% 95.636%, 48.854% 95.319%, 48.372% 94.368%, 47.894% 92.784%, 47.423% 90.567%, 46.961% 87.716%, 46.638% 85.483%, 46.638% 85.483%, 46.176% 82.632%, 45.705% 80.414%, 45.227% 78.83%, 44.745% 77.88%, 44.26% 77.563%, 43.775% 77.88%, 43.293% 78.83%, 42.815% 80.414%, 42.344% 82.631%, 41.882% 85.483%, 41.559% 87.716%, 41.559% 87.716%, 41.097% 90.567%, 40.626% 92.784%, 40.148% 94.368%, 39.666% 95.319%, 39.181% 95.636%, 38.696% 95.319%, 38.214% 94.368%, 37.736% 92.784%, 37.265% 90.567%, 36.803% 87.716%, 36.48% 85.483%, 36.48% 85.483%, 36.018% 82.631%, 35.547% 80.414%, 35.069% 78.83%, 34.587% 77.88%, 34.102% 77.563%, 33.617% 77.88%, 33.135% 78.83%, 32.657% 80.414%, 32.186% 82.632%, 31.724% 85.483%, 31.401% 87.716%, 31.401% 87.716%, 30.939% 90.567%, 30.468% 92.784%, 29.99% 94.368%, 29.508% 95.319%, 29.023% 95.636%, 28.538% 95.319%, 28.056% 94.368%, 27.578% 92.784%, 27.107% 90.567%, 26.645% 87.716%, 26.322% 85.483%, 26.322% 85.483%, 25.86% 82.631%, 25.389% 80.414%, 24.911% 78.83%, 24.429% 77.88%, 23.944% 77.563%, 23.459% 77.88%, 22.977% 78.83%, 22.499% 80.414%, 22.028% 82.631%, 21.566% 85.483%, 21.243% 87.716%, 21.243% 87.716%, 20.781% 90.567%, 20.31% 92.784%, 19.832% 94.368%, 19.35% 95.319%, 18.865% 95.636%, 18.38% 95.319%, 17.898% 94.368%, 17.42% 92.784%, 16.949% 90.567%, 16.487% 87.716%, 16.164% 85.483%, 16.164% 85.483%, 15.702% 82.631%, 15.231% 80.414%, 14.753% 78.83%, 14.271% 77.88%, 13.786% 77.563%, 13.301% 77.88%, 12.819% 78.83%, 12.341% 80.414%, 11.87% 82.631%, 11.408% 85.483%, 10.563% 91.339%, 10.563% 91.339%, 10.197% 93.65%, 9.825% 95.566%, 9.448% 97.085%, 9.066% 98.205%, 8.682% 98.924%, 8.296% 99.242%, 7.908% 99.156%, 7.522% 98.665%, 7.136% 97.768%, 6.754% 96.463%, 0.442% 71.469%, 0.442% 71.469%, 0.318% 71.01%, 0.193% 70.617%, 0.067% 70.289%, -0.059% 70.027%, -0.185% 69.83%, -0.312% 69.699%, -0.439% 69.634%, -0.566% 69.634%, -0.693% 69.701%, -0.82% 69.834%, -0.82% 69.834%, -1.526% 69.749%, -2.201% 67.722%, -2.835% 63.911%, -3.418% 58.476%, -3.938% 51.575%, -4.387% 43.366%, -4.754% 34.008%, -5.029% 23.66%, -5.201% 12.481%, -5.26% 0.629%, -5.26% -16.951%, -5.26% -16.951%, -5.194% -30.849%, -5.001% -44.032%, -4.693% -56.326%, -4.279% -67.553%, -3.77% -77.536%, -3.178% -86.1%, -2.511% -93.068%, -1.781% -98.264%, -0.998% -101.51%, -0.173% -102.632%);
        }

        &::after {
            background-color: var(--white);
            bottom: 4px;
        }

        &-wrapper {
            gap: clamp(22px, 4.2vw, 80px);
            position: relative;
            z-index: 1;

            // &::before {
            //     position: absolute;
            //     content: "";
            //     inset: 0;
            //     transform: skewX(36deg);
            //     left: -35px;
            //     background-color: #FFEDF0;
            //     z-index: -1;
            //     right: auto;
            //     width: 50%;

            //     @include md {
            //         content: none;
            //     }
            // }

            @include xxl {}

            @include xl {}

            @include md {
                padding: 10px 0;
            }

            @include xs {
                padding: 10px 0;
            }

            @include xxs {
                gap: 15px;
            }

            >* {
                flex-shrink: 0;
            }
        }

        .header-bottom-left {
            display: flex;
            align-items: center;
            gap: clamp(35px, 3.42vw, 65px);
            flex-grow: 1;
        }
    }

    &-nav {
        display: flex;
        // gap: clamp(20px, 2.10vw, 40px);
        gap: clamp(30px, 2.89vw, 55px);

        @include md {
            flex-direction: column;
            border: 1px solid rgba(0, 0, 0, 0.2);
            gap: 0;
            display: none;
        }

        >* {
            line-height: clamp(76px, 4.52vw, 86px);

            @include md {
                line-height: 1.2;
                padding: 12px 15px 10px;
                border-bottom: 1px solid rgb(0 0 0 / 20%);

                &:last-child {
                    border-bottom: 0;
                }
            }
        }

        a {
            color: var(--black);
            font-size: clamp(13px, 0.84vw, 16px);
            font-weight: 500;
            text-transform: uppercase;

            &:not([href]):hover,
            &:hover {
                color: var(--ul-primary);
            }

            @include md {
                color: var(--black);
            }
        }

        .has-sub-menu {
            position: relative;
            display: grid;
            grid-template-rows: max-content 0fr;
            transition: 0.4s ease;

            // a:hover {
            //     color: var(--ul-gray2);
            // }

            &.active {
                @include md {
                    grid-template-rows: max-content 1fr;

                    .ul-header-submenu {
                        padding-top: 10px;
                    }

                    >a::after {
                        transform: rotate(0deg);
                    }
                }
            }

            &:hover .ul-header-submenu {
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;
            }

            >a {
                position: relative;

                &::after {
                    content: "\f101";
                    position: absolute;
                    right: -19px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: flaticon_restics !important;
                    font-style: normal;
                    font-weight: normal !important;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: clamp(15px, 0.95vw, 18px);

                    @include md {
                        right: 0;
                        top: 0;
                        transform: none;
                    }
                }
            }
        }
    }


    &-submenu {
        position: absolute;
        z-index: 2;
        min-width: 200px;
        background-color: #FFEDF0;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.03);
        top: 100%;
        left: 0;
        opacity: 0;
        transition: 0.4s ease, pointer-events 0s;
        transform: translateY(5px);
        pointer-events: none;
        width: max-content;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 10px 10px;
        border-radius: 15px;
        overflow: hidden;

        @include xxs {
            background-color: var(--white);
        }

        li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            line-height: normal;

            @include md {
                border-bottom: none;
            }

            &:last-child {
                border-bottom: 0;
            }

            a {
                height: auto;
                padding: 12px 15px;
                display: inline-block;
                width: 100%;
                text-transform: capitalize;

                @include md {
                    padding: 8px 0;
                }

                &:hover {
                    color: var(--ul-primary);
                }
            }
        }

        @include md {
            position: static;
            transform: translateY(0);
            opacity: 1;
            width: 100%;
            overflow: hidden;
            box-shadow: none;
            border-radius: 0;
            // background-color: #f3f3f3;
        }
    }

    &-actions {
        display: flex;
        align-items: center;
        gap: clamp(10px, 1.58vw, 30px);

        @include md {
            gap: 20px;
        }

        button,
        a {
            // padding: 0;
            font-size: clamp(13px, 0.84vw, 16px);
            display: inline-flex;
            flex-shrink: 0;
            padding: 0;

            @include md {
                // color: var(--white);
                font-size: 16px;
            }

            i {
                display: inline-flex;
            }

            &:hover {
                color: var(--ul-primary);
            }

            &.ul-btn {
                padding: 0 clamp(10px, 0.84vw, 16px);

                &:hover {
                    color: var(--ul-primary);
                }
            }

            // &.ul-header-sidebar-opener {
            //     // font-size: clamp(30px, 1.89vw, 36px);
            //     padding: 0;
            //     display: inline-flex;
            //     vertical-align: middle;
            //     border: none;
            //     height: auto;


            //     i {
            //         display: inline-flex;
            //     }
            // }
        }
    }


    .has-mega-menu {
        position: static;
    }

    &-megamenu {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        left: 3.1vw;
        right: 3.1vw;
        width: auto;
        top: clamp(110px, 7.8vw, 7.8vw);
        z-index: 99;
        padding: clamp(10px, 3.15vw, 60px) clamp(15px, 4.20vw, 80px);
        overflow: visible;

        @include md {
            grid-template-columns: repeat(1, 1fr);
            overflow: hidden;
            padding: 0 0;
            gap: 20px;
        }

        &.active {
            @include md {
                margin-top: 15px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            top: -30px;
            right: 16vw;
            background-color: transparent;
            opacity: 1;
            z-index: -1;
            width: 8.8vw;

            @include xl {
                right: 20vw;
            }

            @include lg {
                right: 21.5vw;
            }
        }

        .single-col {
            border-right: 1px solid rgba(0, 0, 0, 0.15);
            padding-right: clamp(20px, 2.10vw, 40px);
            margin-right: clamp(20px, 2.10vw, 40px);

            @include md {
                border-right: 0;
                margin-right: 0;
                padding-right: 0;
            }

            &:last-child {
                border-right: 0;
                margin-right: 0;
                padding-right: 0;
            }
        }

        .single-col-title {
            color: var(--ul-primary);
            font-weight: 500;
            font-size: clamp(17px, 1.05vw, 20px);
            display: inline-block;
            text-transform: uppercase;

            @include md {
                margin-bottom: 10px;

            }
        }

        li {
            border-bottom: none;
            line-height: clamp(30px, 2.10vw, 40px);


            a {
                height: auto;
                padding: 1px 0;
                display: inline-block;
                width: 100%;
            }
        }
    }

    // &--home {
    //     .ul-header {
    //         &-nav a {
    //             &:hover {
    //                 color: var(--ul-primary);
    //             }
    //         }

    //         &-actions {

    //             a,
    //             button {
    //                 &:hover {
    //                     color: var(--ul-primary);
    //                 }
    //             }
    //         }
    //     }
    // }
}

.ul-sidebar.active {
    .ul-header-nav {
        display: flex;
    }
}