.ul-testimonial {
    background-color: var(--ul-secondary);
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: var(--ul-secondary);
        // top: auto;
        // bottom: -108px;
        // height: clamp(182px, 9.72vw, 185px);
        top: 90%;
        height: clamp(155px, 13.40vw, 255px);
        clip-path: polygon(2.733% 0%, 99.071% 0%, 99.071% 0%, 99.222% 0.14%, 99.364% 0.545%, 99.498% 1.193%, 99.62% 2.062%, 99.728% 3.129%, 99.821% 4.374%, 99.896% 5.774%, 99.953% 7.307%, 99.988% 8.951%, 100% 10.684%, 100% 39.035%, 100% 39.035%, 99.99% 42.001%, 99.961% 44.932%, 99.913% 47.818%, 99.846% 50.646%, 99.762% 53.406%, 99.659% 56.084%, 99.539% 58.67%, 99.402% 61.152%, 99.249% 63.519%, 99.08% 65.757%, 97.701% 82.635%, 97.701% 82.635%, 97.303% 86.752%, 96.864% 89.954%, 96.394% 92.242%, 95.903% 93.614%, 95.402% 94.072%, 94.901% 93.614%, 94.411% 92.242%, 93.94% 89.954%, 93.501% 86.752%, 93.104% 82.635%, 93.104% 82.635%, 92.706% 78.517%, 92.267% 75.315%, 91.797% 73.028%, 91.306% 71.655%, 90.805% 71.198%, 90.304% 71.655%, 89.813% 73.028%, 89.343% 75.315%, 88.904% 78.517%, 88.506% 82.635%, 88.506% 82.635%, 88.108% 86.752%, 87.669% 89.954%, 87.199% 92.242%, 86.708% 93.614%, 86.207% 94.072%, 85.706% 93.614%, 85.215% 92.242%, 84.745% 89.954%, 84.306% 86.752%, 83.908% 82.635%, 83.908% 82.635%, 83.51% 78.517%, 83.071% 75.315%, 82.601% 73.028%, 82.11% 71.655%, 81.609% 71.198%, 81.108% 71.655%, 80.617% 73.028%, 80.147% 75.315%, 79.708% 78.517%, 79.31% 82.635%, 79.31% 82.635%, 78.913% 86.752%, 78.473% 89.954%, 78.003% 92.242%, 77.513% 93.614%, 77.011% 94.072%, 76.51% 93.614%, 76.02% 92.242%, 75.549% 89.954%, 75.11% 86.752%, 74.713% 82.635%, 74.713% 82.635%, 74.315% 78.517%, 73.876% 75.315%, 73.406% 73.028%, 72.915% 71.655%, 72.414% 71.198%, 71.913% 71.655%, 71.422% 73.028%, 70.952% 75.315%, 70.513% 78.517%, 70.115% 82.635%, 70.115% 82.635%, 69.717% 86.752%, 69.278% 89.954%, 68.808% 92.242%, 68.317% 93.614%, 67.816% 94.072%, 67.315% 93.614%, 66.824% 92.242%, 66.354% 89.954%, 65.915% 86.752%, 65.517% 82.635%, 65.517% 82.635%, 65.119% 78.517%, 64.68% 75.315%, 64.21% 73.028%, 63.72% 71.655%, 63.218% 71.198%, 62.717% 71.655%, 62.227% 73.028%, 61.757% 75.315%, 61.318% 78.517%, 60.92% 82.635%, 60.92% 82.635%, 60.522% 86.752%, 60.083% 89.954%, 59.613% 92.242%, 59.122% 93.614%, 58.621% 94.072%, 58.12% 93.614%, 57.629% 92.242%, 57.159% 89.954%, 56.72% 86.752%, 56.322% 82.635%, 56.322% 82.635%, 55.924% 78.517%, 55.485% 75.315%, 55.015% 73.028%, 54.524% 71.655%, 54.023% 71.198%, 53.522% 71.655%, 53.031% 73.028%, 52.561% 75.315%, 52.122% 78.517%, 51.724% 82.635%, 51.724% 82.635%, 51.326% 86.752%, 50.887% 89.954%, 50.417% 92.242%, 49.926% 93.614%, 49.425% 94.072%, 48.924% 93.614%, 48.433% 92.242%, 47.963% 89.954%, 47.524% 86.752%, 47.126% 82.635%, 47.126% 82.635%, 46.729% 78.517%, 46.29% 75.315%, 45.819% 73.028%, 45.329% 71.655%, 44.828% 71.198%, 44.326% 71.655%, 43.836% 73.028%, 43.366% 75.315%, 42.927% 78.517%, 42.529% 82.635%, 42.529% 82.635%, 42.131% 86.752%, 41.692% 89.954%, 41.222% 92.242%, 40.731% 93.614%, 40.23% 94.072%, 39.729% 93.614%, 39.238% 92.242%, 38.768% 89.954%, 38.329% 86.752%, 37.931% 82.635%, 37.931% 82.635%, 37.533% 78.517%, 37.094% 75.315%, 36.624% 73.028%, 36.133% 71.655%, 35.632% 71.198%, 35.131% 71.655%, 34.64% 73.028%, 34.17% 75.315%, 33.731% 78.517%, 33.333% 82.635%, 33.333% 82.635%, 32.936% 86.752%, 32.496% 89.954%, 32.026% 92.242%, 31.536% 93.614%, 31.034% 94.072%, 30.533% 93.614%, 30.043% 92.242%, 29.573% 89.954%, 29.133% 86.752%, 28.736% 82.635%, 28.736% 82.635%, 28.338% 78.517%, 27.899% 75.315%, 27.429% 73.028%, 26.938% 71.655%, 26.437% 71.198%, 25.936% 71.655%, 25.445% 73.028%, 24.975% 75.315%, 24.536% 78.517%, 24.138% 82.635%, 24.138% 82.635%, 23.74% 86.752%, 23.301% 89.954%, 22.831% 92.242%, 22.34% 93.614%, 21.839% 94.072%, 21.338% 93.614%, 20.847% 92.242%, 20.377% 89.954%, 19.938% 86.752%, 19.54% 82.635%, 19.54% 82.635%, 19.142% 78.517%, 18.703% 75.315%, 18.233% 73.028%, 17.742% 71.655%, 17.241% 71.198%, 16.74% 71.655%, 16.25% 73.028%, 15.779% 75.315%, 15.34% 78.517%, 14.943% 82.635%, 14.632% 86.435%, 14.632% 86.435%, 14.264% 90.351%, 13.861% 93.58%, 13.429% 96.112%, 12.975% 97.936%, 12.505% 99.041%, 12.027% 99.417%, 11.546% 99.053%, 11.071% 97.94%, 10.608% 96.065%, 10.162% 93.419%, 5.993% 64.251%, 5.993% 64.251%, 5.743% 62.764%, 5.482% 61.71%, 5.215% 61.084%, 4.945% 60.879%, 4.676% 61.091%, 4.412% 61.712%, 4.156% 62.737%, 3.913% 64.161%, 3.686% 65.977%, 3.48% 68.178%, 3.48% 68.178%, 3.079% 72.015%, 2.638% 74.413%, 2.178% 75.46%, 1.716% 75.244%, 1.272% 73.852%, 0.865% 71.373%, 0.516% 67.895%, 0.242% 63.504%, 0.064% 58.29%, 0% 52.339%, 0% 31.421%, 0% 31.421%, 0.036% 26.324%, 0.139% 21.489%, 0.305% 16.981%, 0.527% 12.864%, 0.8% 9.203%, 1.119% 6.062%, 1.477% 3.507%, 1.869% 1.602%, 2.29% 0.411%, 2.733% 0%);
    }

    .ul-section-heading {
        @include sm {
            text-align: left;
        }
    }

    &-img {
        position: relative;
        z-index: 1;
        width: max-content;
        max-width: 100%;

        @include sm {
            margin: auto;
        }

        .main-img {
            max-width: clamp(258px, 19.34vw, 368px);
            clip-path: polygon(94.357% 37.189%, 94.357% 37.189%, 94.184% 38.409%, 94.105% 39.632%, 94.116% 40.856%, 94.213% 42.076%, 94.394% 43.291%, 94.653% 44.496%, 94.989% 45.69%, 95.398% 46.868%, 95.875% 48.028%, 96.417% 49.167%, 96.417% 49.167%, 99.012% 56.259%, 99.767% 63.412%, 98.832% 70.435%, 96.358% 77.139%, 92.495% 83.332%, 87.393% 88.826%, 81.203% 93.43%, 74.075% 96.953%, 66.16% 99.207%, 57.609% 100%, 57.609% 100%, 48.264% 99.346%, 39.4% 97.451%, 31.134% 94.419%, 23.586% 90.353%, 16.873% 85.355%, 11.115% 79.529%, 6.43% 72.978%, 2.937% 65.804%, 0.754% 58.11%, 0% 50%, 0% 50%, 0.754% 41.89%, 2.937% 34.196%, 6.43% 27.022%, 11.115% 20.471%, 16.873% 14.645%, 23.586% 9.647%, 31.134% 5.581%, 39.4% 2.549%, 48.264% 0.654%, 57.609% 0%, 57.609% 0%, 65.787% 0.469%, 72.934% 1.833%, 79.059% 4.026%, 84.176% 6.985%, 88.297% 10.645%, 91.432% 14.941%, 93.593% 19.807%, 94.793% 25.181%, 95.044% 30.997%, 94.357% 37.189%);
        }

        .sm-img {
            position: absolute;

            &:first-child {
                top: -20px;
                right: -3px;
                max-width: clamp(55px, 3.68vw, 70px);
            }

            &:nth-child(2) {
                top: 45%;
                transform: translateY(-50%);
                left: -30px;
                max-width: clamp(55px, 3.68vw, 70px);
            }

            &:nth-child(3) {
                bottom: -18px;
                right: 71px;
                max-width: clamp(55px, 3.94vw, 75px);
            }
        }

        .vector-1 {
            position: absolute;
            bottom: 44%;
            right: -56px;
            z-index: -1;

            @include md {
                display: none;
            }
        }

        .vector-2 {
            position: absolute;
            bottom: clamp(23px, 2.52vw, 48px);
            left: -42px;
            z-index: -1;
        }

        .vector-3 {
            position: absolute;
            bottom: 4px;
            left: -38px;
            z-index: -1;
        }
    }

    &-vectors {
        >* {
            position: absolute;
            z-index: 0;
        }

        .vector-1 {
            top: clamp(17px, 3.00vw, 57px);
            left: clamp(4px, 2.31vw, 44px);
            max-width: clamp(243px, 15.40vw, 293px);
            max-height: clamp(243px, 15.40vw, 293px);
        }

        .vector-2 {
            max-width: clamp(109px, 7.30vw, 139px);
            left: clamp(84px, 5.47vw, 104px);
            // bottom: ;


            @include md {
                display: none;
            }
        }

        .vector-3 {
            max-width: clamp(132px, 7.62vw, 145px);
            right: clamp(232px, 14.29vw, 272px);
            top: 16px;

            @include md {
                display: none;
            }
        }

        .vector-4 {
            right: 0;
            top: clamp(160px, 14.40vw, 274px);
            max-width: clamp(169px, 9.93vw, 189px);

            @include lg {
                display: none;
            }
        }
    }

    .ul-section-sub-title,
    .ul-section-title {
        color: var(--white);
    }

    &-slider {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        padding-top: clamp(15px, 1.58vw, 30px);

        &-nav {
            display: flex;

            button {
                font-size: clamp(15px, 0.95vw, 18px);
                color: var(--white);
                display: flex;

                &:hover {
                    color: var(--ul-primary);
                }
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: clamp(5px, 0.42vw, 8px);
        margin-top: clamp(17px, 1.05vw, 20px);

        @include xxs {
            flex-direction: column;
            gap: 10px;
        }

        >* {
            flex-shrink: 0;
        }
    }

    .stroke {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        width: 100%;
        flex-shrink: 1;

        @include xxs {
            display: none;
        }
    }

    &-reviewer-slider {
        // max-width: calc(50% - 100px);
        max-width: 42.1%;

        @include xxs {
            max-width: 70%;
        }

        img {
            width: 100%;
            aspect-ratio: 81/89;
            object-fit: cover;
        }

        .swiper-slide {
            background: url(../img/testimonial-reviewer-img-bg.png) no-repeat center center;
            background-size: contain;
            position: relative;
            z-index: 1;
            // clip-path: polygon(40.159% 2.47%, 40.159% 2.47%, 42.025% 1.581%, 43.96% 0.889%, 45.945% 0.395%, 47.964% 0.099%, 50% -0%, 52.036% 0.099%, 54.055% 0.395%, 56.04% 0.889%, 57.975% 1.581%, 59.841% 2.47%, 90.159% 18.868%, 90.159% 18.868%, 91.914% 19.938%, 93.521% 21.162%, 94.97% 22.525%, 96.254% 24.015%, 97.363% 25.618%, 98.29% 27.319%, 99.025% 29.105%, 99.561% 30.963%, 99.889% 32.878%, 100% 34.837%, 100% 67.633%, 100% 67.633%, 99.889% 69.592%, 99.561% 71.507%, 99.025% 73.365%, 98.29% 75.151%, 97.363% 76.853%, 96.254% 78.455%, 94.97% 79.945%, 93.521% 81.309%, 91.914% 82.532%, 90.159% 83.602%, 59.841% 100%, 59.841% 100%, 57.975% 100.889%, 56.04% 101.581%, 54.055% 102.075%, 52.036% 102.372%, 50% 102.47%, 47.964% 102.372%, 45.945% 102.075%, 43.96% 101.581%, 42.025% 100.889%, 40.159% 100%, 9.841% 83.602%, 9.841% 83.602%, 8.086% 82.532%, 6.479% 81.309%, 5.03% 79.945%, 3.746% 78.455%, 2.637% 76.853%, 1.71% 75.151%, 0.975% 73.365%, 0.439% 71.507%, 0.111% 69.592%, 0% 67.633%, 0% 34.837%, 0% 34.837%, 0.111% 32.878%, 0.439% 30.963%, 0.975% 29.105%, 1.71% 27.319%, 2.637% 25.618%, 3.746% 24.015%, 5.03% 22.525%, 6.479% 21.162%, 8.086% 19.938%, 9.841% 18.868%, 40.159% 2.47%);

            &-thumb-active {
                padding: 5px;
            }
        }
    }
}

.ul-testimony {
    color: var(--white);

    &-reviewer {
        &-img {
            border-radius: 50%;
            overflow: hidden;
            flex-shrink: 0;

            img {
                object-fit: cover;
                width: clamp(60px, 5.25vw, 100px);
                aspect-ratio: 1/1;
            }
        }
    }

    .icon {
        font-size: clamp(27px, 1.68vw, 32px);
        display: block;
        margin-bottom: clamp(3px, 0.42vw, 8px);
    }

    &-txt {
        font-size: clamp(16px, 1.05vw, 20px);
        font-weight: 600;
        font-style: italic;
        margin-bottom: 0;
    }
}