// blog page 2 styles
.ul-blog {
    &-wrapper {
        border: 1px solid #E3E3E3;
        border-radius: 20px;
        padding: clamp(20px, 1.58vw, 30px);
        margin-bottom: clamp(20px, 1.58vw, 30px);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-inner {
        box-shadow: none;
        padding: 0;

        .ul-blog {
            &-img {
                img {
                    border-radius: 10px;
                    aspect-ratio: 710/430;
                    object-fit: cover;
                }
            }

            &-infos {
                margin-bottom: clamp(11px, 0.74vw, 14px);
            }

            &-info i {
                font-size: clamp(17px, 1.05vw, 20px);
                color: var(--ul-primary);
            }

            &-title {
                font-size: clamp(20px, 1.26vw, 24px);
                margin-bottom: clamp(11px, 0.74vw, 14px);
            }

            &-excerpt {
                color: var(--ul-gray);
                margin-bottom: clamp(11px, 1.10vw, 21px);
            }
        }

        .date {
            position: absolute;
            top: clamp(15px, 1.05vw, 20px);
            left: clamp(15px, 1.05vw, 20px);
            background-color: var(--ul-primary);
            border-radius: 6px;
            display: inline-block;
            overflow: hidden;
            text-align: center;
            color: var(--white);
            padding: clamp(8px, 0.63vw, 12px) clamp(12px, 0.84vw, 16px);
            bottom: auto;

            .number {
                display: block;
                font-weight: 700;
                font-size: clamp(20px, 1.26vw, 24px);
                line-height: 0.8;
                margin-bottom: clamp(3px, 0.32vw, 6px);
            }

            .txt {
                line-height: 0.8;
                display: block;
                font-weight: 400;
                font-size: clamp(11px, 0.74vw, 14px);
            }
        }
    }

    &-sidebar {
        &-widget {
            padding: clamp(25px, 2.1vw, 40px) clamp(15px, 1.58vw, 30px);
            background-color: rgba(235, 0, 41, 0.039);
            border-radius: 10px;
            margin-bottom: clamp(15px, 1.26vw, 24px);

            &:last-child {
                margin-bottom: 0;
            }

            &-title {
                font-size: clamp(18px, 1.16vw, 22px);
                color: var(--black);
                font-weight: 700;
                position: relative;
                margin-bottom: clamp(12px, 1.16vw, 22px);
                padding-bottom: clamp(8px, 0.68vw, 13px);

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1.5px;
                    width: 20px;
                    background-color: var(--black);
                }

                &::after {
                    left: 26px;
                    width: 63px;
                    background-color: var(--ul-primary);
                }
            }
        }

        &-search form {
            background-color: var(--white);
            height: clamp(45px, 3.15vw, 60px);
            border-radius: 5px;
            overflow: hidden;
            display: flex;

            input {
                padding: 0 clamp(12px, 1.05vw, 20px);
                height: 100%;
                width: 100%;
                border: none;
            }

            button {
                background-color: var(--ul-primary);
                flex-shrink: 0;
                aspect-ratio: 1/1;
                color: var(--white);

                &:hover {
                    background-color: var(--ul-secondary);

                }
            }
        }

        &-categories {
            a {
                border-radius: 8px;
                padding: clamp(11px, 0.74vw, 14px) clamp(16px, 1.26vw, 24px);
                background-color: var(--white);
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: clamp(13px, 0.84vw, 16px);
                color: var(--black);
                margin-bottom: clamp(9px, 0.63vw, 12px);

                &:hover {
                    background-color: var(--ul-primary);
                    color: var(--white);
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-post {
            display: flex;
            border-bottom: 1px solid #E6E5E5;
            align-items: center;
            gap: clamp(12px, 0.79vw, 15px);
            padding: clamp(12px, 1.05vw, 20px) 0;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }

            .img {
                flex-shrink: 0;
                overflow: hidden;
                border-radius: 10px;

                img {
                    width: clamp(59px, 4.15vw, 79px);
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }
            }

            .date {
                font-size: clamp(12px, 0.74vw, 14px);
                color: var(--ul-primary);
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: clamp(5px, 0.42vw, 8px);

                .icon {
                    display: inline-flex;
                    font-size: 16px;
                }
            }

            .title {
                font-weight: 700;
                font-size: clamp(13px, 0.84vw, 16px);
                font-size: clamp(15px, 0.95vw, 18px);
                line-height: 1.4;
                margin-bottom: 0;

                a {
                    font-weight: 600;
                    color: var(--black);

                    &:hover {
                        color: var(--ul-primary);
                    }
                }
            }
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: clamp(4px, 0.37vw, 7px);

            a {
                height: clamp(28px, 1.79vw, 34px);
                padding: 0 clamp(9px, 0.63vw, 12px);
                background-color: var(--white);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                color: var(--black);
                font-size: clamp(11px, 0.74vw, 14px);

                &:hover {
                    background-color: var(--ul-primary);
                    color: var(--white);
                }
            }
        }
    }
}