:root {
    --black: #000;
    --white: #fff;
    --ul-primary: #EB0029;
    --ul-secondary: #FAA019;
    --ul-c3: #FFE9C8;
    --ul-c4: #FFF9F4;
    --ul-c5: #FC791A;
    --ul-black: #010F1C;
    --ul-gray: #5C6574;
    --ul-gray2: #D2D2D1;
    --ul-gradient: linear-gradient(90deg, var(--ul-primary) 0%, var(--ul-secondary) 100%);

    --font-primary: "Roboto", sans-serif;
    --font-vibes: "Vibes", system-ui;
}